@import "../../../../scss/variables";

:host {
  position: fixed;
  width: $sidebar-width;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: lighten($warning, 20);
}

.sidebar-logo {
  text-align: center;
  padding: 5px 0;
}

.sidebar-profile {
  text-align: center;
}

.sidebar-navigation {
  ul {
    @include list-unstyled();

    li {
      padding: 0 0 0 20px;
      font-size: 16px;
      line-height: 60px;

      a {
        display: block;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
