<div class="sidebar-logo">
  <img src="//placehold.it/250x50" alt="">
</div>

<div class="sidebar-profile container-fluid">
  <div class="row">
    <div class="col text-right">
      <img src="//placehold.it/120x120" alt="">
    </div>
    <div class="col">
      <h5>Mathieu Bour</h5>
    </div>
  </div>
</div>

<div class="sidebar-navigation">
  <ul>
    <li>
      <a href="#">Lien 1</a>
    </li>
    <li>
      <a href="#">Lien 2</a>
    </li>
    <li>
      <a href="#">Lien 3</a>
    </li>
  </ul>
</div>
