<app-admin-default-layout>
  <h1>Tableau de bord</h1>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h2 class="card-title">Dernières transactions</h2>
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>#id</th>
              <th>Produit</th>
              <th>Client</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>5</td>
              <td>Bière</td>
              <td>Mathieu Bour</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Bière</td>
              <td>Mathieu Bour</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Bière</td>
              <td>Mathieu Bour</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Bière</td>
              <td>Mathieu Bour</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Bière</td>
              <td>Mathieu Bour</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</app-admin-default-layout>
