<div id="container">
  <app-admin-sidebar></app-admin-sidebar>

  <app-admin-header></app-admin-header>

  <div class="content">
    <ng-content></ng-content>
  </div>

  <app-admin-footer></app-admin-footer>
</div>
