@import "../../../../scss/variables";

#container {
  position: relative;
  padding-top: $header-height;
  padding-left: $sidebar-width;
  padding-bottom: $footer-height;
}

.content {
  padding: 30px 40px;
}
