@import "mixins";

// Define variables here; you can also override boostrap variables such as colors, sizes, etc...
$header-height: 60px;
$sidebar-width: 300px;
$footer-height: 40px;

@import "~bootstrap/scss/variables";
